/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #7289da;
    color: white;
    text-align: center;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #255EE9;
}

.navbar-wrapper {
    background-color: #255EE9; 
    width: 100%;
}


.navbar-menu {
    display: flex;
    gap: 20px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #ffcc00;
}

.navbar-actions a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
}

.navbar-actions a:hover {
    background-color: grey;
    color: #fff;
}

.jumbotron {
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 20px;
}

.jumbotron .content {
    max-width: 800px;
    margin: 0 auto;
}

.jumbotron h1 {
    font-size: 60px;
    margin-bottom: 40px;
}

.jumbotron p {
    font-size: 22px;
    margin-bottom: 30px;
}

.jumbotron .actions {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.jumbotron .btn {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.jumbotron .btn-primary {
    color: black;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 22px;
}

.jumbotron .btn-primary:hover {
    background-color: #23272A;
    color: #fff;
}

.jumbotron .btn-secondary {
    background-color: #23272A;
    border-radius: 20px;
    padding: 20px;
    color: white;
    font-size: 22px;
}

.jumbotron .btn-secondary:hover {
    color: black;
    background-color: #efeff4;
}
